/* style.css - a simple style sheet */
/* used in debug
table{
	border:2px dashed black
}

th{
	border:2px dashed black;
}

 */



/* Actually CSS code starts here*/
body {
  margin-left: 10%; margin-right: 10%;
  font-family: Gotham, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

img.headLogo{
	max-width: 65%;
	height: auto
}

#headSignature{
	font-size:3em;
	font-family: Papyrus, fantasy;;
	overflow: hidden;
	white-space: nowrap;
	color:#FFFFFF;
}

#headLink{
	overflow: hidden;
	white-space: nowrap;	
}

#header{
	background-color:#800000;
	color:#FFFFFF;
	padding:1em 2em 1em 2em;
	width:100%
}


#header a:link{
	color:#FFFFFF;
}
#header a:visited{
	color:#FFFFFF;
}
#header a:active{
	color:#FFFFFF;
}
#header a:hover{
	color:#767676
}

#codeMaroon{
	color:#800000
}

#navigation{
	padding:0.5em 2em 0.5em 2em;
	background-color:#C16622;
	color:#FFFFFF;
	text-align:center;
	width:100%
}

#navigation ul{ 
	list-style-type: square; margin:0; padding:0
}

#navigation ul li {
	display: inline;
}

#navigation a:link{
	color:#FFFFFF;
}
#navigation a:visited{
	color:#FFFFFF;
}
#navigation a:active{
	color:#FFFFFF;
}
#navigation a:hover{
	color:#800000
}


#indexMainTable{
	padding:0.5em 2em 0.5em 2em;

}

#photoOp{
	padding: 1em 1em 1em 1em;
	float:left
	
}

#index_unit{
	background-color:#5B8FA8;
	color:#FFFFFF;
	padding:0.25em 1em 1em 1em;
	margin:0.5em 0em 0.5em 0em;
	max-width:100%;
	text-align:left
}


#footer{
	background-color:#800000;
	color:#FFFFFF;
	height:30px;
	padding:1em 2em 1em 2em;
	position:relative;
	width:100%
}

#counter{
	position:absolute;
	left:440px
}